@font-face {
    font-family:"SlimJoe";
    src:url(../font/SlimJoe.otf) format("opentype");
}

@font-face {
    font-family:"futura";
    font-style: normal;
    src:url(../font/Futura.ttf) format("opentype");
}

@font-face {
    font-family:'Bigjoe';
    src:url(../font/BIGJOHN.otf) format("opentype");
}

body
	{
		margin: 0;
		padding: 0;
        background: #FFFFFF;
        width: 100%;
        height: 100%;
        font-family: SlimJoe;
    }
    u {
        color: #FC7647;
        font-weight: bold;
    }
    
    
    
    img.logo {
        width: 180px;
        height: 90px;
        padding-top: 0.2%;
        padding-left: 5%;
    }

    img.logoin{
        width: 70px;
        height: 70px;
        float: right;
        padding-right: 5%;
        
    }
/* Clearfix */
.clear:before, .clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

a#pull {
    display: none;
}

nav {
    background: #FFD83E;
        height: 100px;
        width: 100%;
        position:fixed;
        overflow: hidden;
}

nav ul {

    padding: 0;
    margin: 0 auto;
    margin-top: 3%;
    list-style: none;
    float: right;

}

nav li {
    float: left;
    margin: 0 14px;
   font-family: Bigjoe;
}

nav a {
    color: #000;
        font-size: 13px;
        font-family: Bigjoe;
        padding: 8px 8px;
        text-transform: uppercase;
    text-decoration: none;
        color: #000;
}


nav li:last-child a {
    border-right: 0;
}

nav li a:hover {
    border-top: 5px solid #6EE2FF;
}
nav a:hover, nav a:active {
    text-decoration: none;
/*animation: shakemenu 1.5s ease 0s normal;*/
		
}
@media only screen and (max-width : 700px) {
    nav {
        border-bottom: 0;
        height: auto;
    }

    nav ul {
        display: none;
        height: auto;
        width: 100%;
        float: none;;
    }

    nav li {
        width: 90%;
        float: right;
        position: relative;
        text-align: right;
    }

    nav a {
        text-align: center;
        width: 100%;
        text-indent: 25px;
    }

    nav img{
        display: none;
    }
    nav li a:hover {
        border-top: none;
        text-decoration: underline  #6EE2FF;
    }

    nav a#pull {
        display: block;
        background: #FFD83E;
        width: 100%;
        position: relative;
    }

    nav a#pull:after {
        content:"";
        background: url('../img/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    footer p{
        font-size: 12px;
        padding-right: 100px;
         padding-top: 5%;
    
    
    }
}

#content{
   padding-top: 8%;

}


#info{
 
    background:#F5F5F5;
    width: 74%;
    margin-left: 13%;
    margin-right: 13%;
    
}
#info p {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 18px;
    text-align: justify;
    font-family: futura;
}
#info h2 {
    font-size: 20px;
    font-family: SlimJoe;
    padding-top: 30px;
    float: none;
    text-align: left;
    padding-left: 20%;
}
footer {
background: #6EE2FF;
border-top: 1px solid #d9d9d9;
clear: both;
overflow: hidden;
width: 100%;
height: 80px;
/*position: absolute;*/
}

#footerinf{
    position: absolute;
    padding-top: 1%;
    padding-left: 5%;
}
footer p{
    font-family: futura;


}
		/*Animaciones*/
		
		/*check menu */
	/*	@keyframes shakemenu{
            0% {
                transform: translateY(0px);
            }
            40% {
                transform: translateY(-20px);
            }
            50% {
                transform: translateY(0px);
            }
            60% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0px);
            }
            
            }*/
            
            
            
            